<div 
    class="hidden confirm-share space-y-4 p-4 text-center 
        rounded-md border bg-slate-300 absolute bottom-24 right-16 left-16"
        role="alertdialog"
>
    <p class="text-center text-slate-500">
        Nice to know you want to share. The feature is coming soon.
    </p>
    <button id="confirm-share"
        class="px-4 py-2 bg-blue-500 text-white rounded-sm"
    >
        Close
    </button>
</div>