<header class="bg-blue-500 mb-4 fixed top-0 left-0 right-0 z-10">
        <div class="container py-2 flex flex-row  items-center justify-between">
            <button 
                class="text-white font-bold text-xl hover:bg-blue-600 p-2 
                    rounded-sm transition-all">
                OdinMedia
            </button>
            <nav class="hidden justify-center gap-8 items-center flex-row md:flex lg:hidden">
                <button 
                    class="p-2 rounded-sm hover:bg-white transition-all
                    hover:text-blue-500 text-slate-600
                    flex flex-col items-center text-lg"
                    onclick="window.location.assign('/')"
                >
                    <i class="fa-solid fa-house "></i>
                    <span class="">Posts</span>
                </button>
                <button 
                    class="p-2 rounded-sm hover:bg-white hover:text-blue-500 
                    flex flex-col items-center transition-all text-lg text-slate-600"
                    onclick="window.location.assign('/people')"
                >
                    <i class="fa-solid fa-users-line "></i>
                    <span class="">People</span>
                </button>
                <button 
                    class="p-2 rounded-sm hover:bg-white 
                    hover:text-blue-500 text-slate-600 text-lg
                    flex flex-col items-center transition-all"
                    onclick="window.location.assign('/friends')"
                >
                    <i class="fa-solid fa-users-line"></i> 
                    <span>Friends</span>
                </button>
            </nav>
            <div class="flex flex-row gap-4 justify-end">
                <button class="profile flex flex-row justify-end items-center gap-4 
                        lg:hidden hover:bg-white p-2 transition-all rounded-sm"
                    onclick="window.location.assign('/profiles/me')"
                >
                    <img 
                        class="w-10 h-10 rounded-full"
                        src= "<%=user&&user.pictureUrl%>"
                        alt="<%=user&&user.name%>"
                    >
                </button>
                <button 
                    id="menu"
                    class="text-lg font-bold text-white hover:bg-blue-600 
                     transition-all py-2 px-4
                    md:hidden lg:hidden xl:hidden">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
   </header>