<div class="container p-2 space-y-2">
    <div class="flex flex-row items-start justify-start gap-4">
        <img 
            src="https://randomuser.me/api/portraits/men/83.jpg" 
            alt="user" 
            class="h-10 w-10 rounded-full"
        >
        <textarea 
            class="w-full font-light p-2 h-32 
            border rounded-sm text-sm text-gray-500"
            placeholder="What on your mind?"        
        ></textarea>
    </div>
    <button
        id="post-btn"
        class="bg-blue-500 text-white font-md px-4 py-2 rounded-sm
        w-full"
    >
        Publish Post
    </button>
</div>