    <%-include('./partials/head.ejs') %>
   <%-include('./partials/header.ejs') %>
   <main>
        <aside class="hidden"></aside>
        <section class="container space-y-4 lg:w-2/5"> 
            <%-include('./partials/post.ejs') %>
        </section>
        <aside class="hidden"></aside>
   </main>
    <%-include('./partials/footer.ejs') %>
</body>
<script src="/scripts/post.js" ></script>
</html>