<%-include('../partials/header')%>
            <div>
               <h1 class="text-slate-500 font-bold text-xl py-20 text-center">
                    Sorry! Something went wrong on our side please try again.
                </h1>
            </div>
        </section>
        <section class="w-2/5 hidden xl:block">
            <aside class="px-4 border-l w-2/5 fixed top-16 bottom-0 space-y-2">
                <hr>
                <%-include('../partials/footer.ejs') %>
            </aside>
        </section>
        <%-include('../partials/side-drawer.ejs') %>
   </main>
</body>
<script src="/scripts/validate-post.js"></script>
<script src="/scripts/textarea.js"></script>
<script src="scripts/navlinks.js"></script>
</html>