<%-include('../partials/head.ejs') %>
    <header class="bg-blue-500 mb-4 fixed top-0 left-0 right-0">
        <div class="container py-2">
            <button 
                class="text-white font-bold text-xl hover:bg-blue-600 p-2 
                    rounded-sm transition-all">
                OdinMedia
            </button>
        </div> 
    </header> 
    <main class="mt-20">
            <section>
            <div class="container space-y-4 lg:w-3/5">

                <form 
                    action="" 
                    method="post"
                    class="space-y-4 p-4 rounded-lg shadow-md shadow-slate-400
                        
                    "
                >
                    <div class="flex flex-col">
                        <label for="email"
                            class="font-md text-xl"
                        >
                            Email
                        </label>
                        <input
                            class="py-2 px-2 border-b-2 border-slate-400"
                            type="email" 
                            name="email" 
                            id="email"
                            placeholder="xyzbrx@gmail.com"
                        >
                    </div>
                    <div class="flex flex-col">
                        <label for="password"
                            class="font-md text-xl"
                        >
                            Password
                        </label>
                        <input 
                            class="py-2 px-2 border-b-2 border-slate-400"
                            type="password" 
                            name="password" 
                            id="password"
                            placeholder="Current-password"
                        >
                    </div>
                    <div>
                        <button 
                            class="w-full bg-blue-500 text-white font-bold py-2 rounded-sm"
                            type="submit" 
                        >
                            LOGIN
                        </button>
                    </div>
                </form>
                <div
                    class="p-4 rounded-lg shadow-md shadow-slate-400 flex flex-col gap-4
                        lg:flex-row
                    "
                >
                <a href="/auth/facebook" class="lg:w-full">
                    <button 
                        class="w-full bg-blue-500  py-2 rounded-sm"
                        type="button" 
                    >
                        <i class="fa-brands fa-facebook text-white font-bold font-xl">
                            LOGIN WITH FACEBOOK
                        </i> 
                    </button>
                </a>
                <a href="/auth/sign-up" class="lg:w-full">
                    <button 
                        class="w-full bg-green-500 text-white font-bold py-2 rounded-sm"
                        type="button" 
                    >
                        CREATE NEW ACCOUNT
                    </button>
                </a>
                </div>
            </div>
        </section>
    </main>
    <div class="fixed bottom-0 left-0 right-0">
        <%-include('../partials/footer.ejs') %>
    </div>
</body>
</html>