<%-include('../partials/head.ejs') %>
    <header class="bg-blue-500 mb-4 fixed top-0 left-0 right-0">
        <div class="container py-2">
            <button 
                class="text-white font-bold text-xl hover:bg-blue-600 p-2 
                    rounded-sm transition-all">
                OdinMedia
            </button>
        </div> 
    </header> 
    <main class="my-20">
        <section>
            <div class="container space-y-4 lg:w-3/5">

                <form 
                    novalidate
                    action="" 
                    method="post"
                    class="space-y-4 p-4 rounded-lg shadow-md shadow-slate-400"
                >
                <div class="justify-between gap-2 md:flex lg:flex flex-row">
                    <div class="flex flex-col w-full">
                        <label for="first-name"
                            class="font-md text-xl"
                        >
                            First Name
                        </label>
                        <input
                            class="py-2 px-2 border-b-2 border-slate-400"
                            type="text" 
                            name="first_name" 
                            id="first-name"
                            placeholder="John"
                        >
                    </div>
                    <div class="flex flex-col w-full">
                        <label for="last-name"
                            class="font-md text-xl"
                        >
                            Last Name
                        </label>
                        <input
                            class="py-2 px-2 border-b-2 border-slate-400"
                            type="text" 
                            name="last_name" 
                            id="last-name"
                            placeholder="Doe"
                        >
                    </div>
                </div>
                <div class="flex flex-col w-full">
                    <label for="email"
                    class="font-md text-xl"
                        >
                            Email
                        </label>
                        <input
                            class="py-2 px-2 border-b-2 border-slate-400"
                            type="email" 
                            name="email" 
                            id="email"
                            placeholder="xyzbrx@gmail.com"
                            >
                </div>
                <div class="justify-between gap-2 md:flex lg:flex flex-row">
                    <div class="flex flex-col w-full">
                        <label for="password"
                            class="font-md text-xl"
                        >
                            Password
                        </label>
                        <input 
                            class="py-2 px-2 border-b-2 border-slate-400"
                            type="password" 
                            name="password" 
                            id="password"
                            placeholder="New Password"
                        >
                    </div>
                    <div class="flex flex-col w-full">
                        <label for="password2"
                            class="font-md text-xl"
                        >
                            Confirm Password
                        </label>
                        <input 
                            class="py-2 px-2 border-b-2 border-slate-400"
                            type="password" 
                            name="confirm_password" 
                            id="password2"
                            placeholder="Repeat Password"
                        >
                    </div>
                </div>
                    <div>
                        <button 
                            class="w-full bg-green-500 text-white font-bold py-2 rounded-sm"
                            type="submit" 
                        >
                            SIGN UP
                        </button>
                    </div>
                    <%if(errors){%>
                        <%errors.forEach( error => {%>
                            <p class="text-red-500 font-light text-start">
                                <%=error.msg%>
                            </p>
                        <%})%>
                    <%}%>
                </form>
                <div
                    class="p-4 rounded-lg shadow-md shadow-slate-400"
                >
                <a href="/auth/login">
                    <button 
                        class="w-full bg-blue-500 text-white font-bold py-2 rounded-sm"
                        type="button" 
                    >
                        ALREADY REGISTERED? LOGIN
                    </button>
                </a>
                </div>
            </div>
        </section>
    </main>
    <div class="fixed bottom-0 right-0 left-0">
        <%-include('../partials/footer.ejs') %>
    </div>
</body>
</html>