<%-include('./partials/header.ejs') %>
<%-include('./partials/profile-form.ejs')%>
     </section>
     <section class="w-2/5 hidden xl:block">
        <aside class="px-4 border-l w-2/5 fixed top-16 bottom-0 space-y-2">
            <div aria-hidden="true" class="border rounded-md">
                <h1 class="font-bold p-2 text-white bg-blue-500 w-full">
                    More Actions
                </h1>
            </div>
            <hr>
            <%-include('./partials/footer.ejs') %>
        </aside>
     </section>
     <%-include('./partials/side-drawer.ejs') %>
</main>
</body>
<script src="/scripts/edit-profile.js"></script>
<script src="/scripts/navlinks.js"></script>
<script src="/scripts/validate-profile-form.js"></script>
</html>